<div class="mainMenu">
    <div class="nav">
        <div class="nameTag">
            SAYALI NAZARE
        </div>
        <ul class="main-nav flex">
            <li>
                <a routerLink="/aboutMe">ABOUT ME</a>
            </li>
            <li>
                <a routerLink="/experiance">EXPERIANCE</a>
            </li>
            <li>
                <a routerLink="/projects">PROJECTS</a>
            </li>
            <li>
                <a routerLink="/experiance">SKILLS</a>
            </li>
            <li>
                <a routerLink="/education">EDUCATION</a>
            </li>
        </ul>
    </div>
</div>